1A. Write a Python program to sum all the items in a list.

In [7]:
def sumItems(lst):
    my_list = [1, 2, 3, 4, 5]
    total = 0
    for item in lst:
        total += item
    return total

my_list = [1, 2, 3, 4, 5]
result = sumItems(my_list)
print("The sum of the list items is:", result)

The sum of the list items is: 15

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [5]:
def countFirstLast(strings):
    count = 0
    for string in strings:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
    return count

# Example usage
my_strings = ['level', 'python', 'radar', 'hello', 'madam']
result = countFirstLast(my_strings)
print("The number of strings with the same first and last character is:", result)

The number of strings with the same first and last character is: 3

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [6]:
def sort(tuples):
    sorted_tuples = sorted(tuples, key=lambda x: x[-1])
    return sorted_tuples

# Example usage
my_tuples = [(1, 5), (3, 2), (9, 7), (4, 6)]
result = sort(my_tuples)
print("Sorted list of tuples:", result)

Sorted list of tuples: [(3, 2), (1, 5), (4, 6), (9, 7)]

2A. Write a Python program to remove duplicates from a list.

In [10]:
def remove_duplicates(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

# Example usage
my_list = [1, 2, 3, 2, 4, 3, 5, 1]
result = remove_duplicates(my_list)
print("List with duplicates removed:", result)

List with duplicates removed: [1, 2, 3, 4, 5]

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [13]:
def commonMember(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example usage
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 6, 7, 8, 9]
result = commonMember(my_list1, my_list2)
print(result)

True

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [23]:
def removeEvenNumbers(lst):
    result = []
    for num in lst:
        if num % 2 != 0:
            result.append(num)
    return result

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = removeEvenNumbers(my_list)
print("Numbers after removing even numbers:", result)

Numbers after removing even numbers: [1, 3, 5, 7, 9]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [17]:
def generateSquareList():
    square_list = [num * num for num in range(1, 31)]
    first_five = []
    last_five = []
    list_length = len(square_list)
    for i in range(5):
        first_five.append(square_list[i])
        last_five.append(square_list[list_length - 1 - i])
    return first_five, last_five

# Example usage
first_five_elements, last_five_elements = generateSquareList()
print("First 5 elements:", first_five_elements)
print("Last 5 elements:", last_five_elements)

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [900, 841, 784, 729, 676]

3B. Write a Python program to get the difference between the two lists.

In [25]:
def listDifference(list1, list2):
    difference = []
    for item in list1:
        if item not in list2:
            difference.append(item)
    return difference

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = listDifference(list1, list2)
print("Items in list1 not in list2:", result)

Items in list1 not in list2: [1, 2, 3]

3C. Write a Python program to convert a list of characters into a string.

In [28]:
def charToString(char_list):
    string = ""
    for char in char_list:
        string += char
    return string

# Example usage
characters = ['H', 'e', 'l', 'l', 'o']
result = charToString(characters)
print("Converted string:", result)

Converted string: Hello

4A. Write a Python program to select an item randomly from a list.

In [40]:
import random

def randomItem(lst):
    random_index = random.randint(0, len(lst) - 1)
    random_item = lst[random_index]
    return random_item

# Example usage
my_list = [1, 2, 3, 4, 5]
result = randomItem(my_list)
print("Randomly selected item:", result)

Randomly selected item: 1

4B.Write a Python program to find the second largest number in a list.

In [45]:
def secondLargest(numbers):

    largest = max(numbers[0], numbers[1])
    second_largest = min(numbers[0], numbers[1])

    for i in range(2, len(numbers)):
        if numbers[i] > largest:
            second_largest = largest
            largest = numbers[i]
        elif numbers[i] > second_largest and numbers[i] != largest:
            second_largest = numbers[i]

    return second_largest

# Example usage
my_list = [10, 5, 20, 15, 8]
result = secondLargest(my_list)
print("Second largest number:", result)

Second largest number: 15

5A. Write a Python program to count the number of elements in a list within a specified range.

In [47]:
def countElements(lst, min_val, max_val):
    count = 0
    for num in lst:
        if min_val <= num <= max_val:
            count += 1
    return count

# Example usage
my_list = [1, 5, 10, 15, 20, 25, 30]
min_value = 10
max_value = 25
result = countElements(my_list, min_value, max_value)
print("Number of elements within the range:", result)

Number of elements within the range: 4

5B. Write a Python program to split a list into different variables.

In [49]:
def splitList(lst):

    var1 = lst[0]
    var2 = lst[1]
    remaining_list = []
    for i in range(2, len(lst)):
        remaining_list.append(lst[i])

    return var1, var2, remaining_list

# Example usage
my_list = [1, 2, 3, 4, 5]
result1, result2, result3 = splitList(my_list)
print("Variable 1:", result1)
print("Variable 2:", result2)
print("Remaining List:", result3)

Variable 1: 1
Variable 2: 2
Remaining List: [3, 4, 5]

6A. Merge the following dictionaries into one

In [52]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merged_dict = dict(dict1)
merged_dict.update(dict2)

print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [53]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}

keysToRemove = ["name", "salary"]

for key in keysToRemove:
    sampleDict.pop(key, None)

print("Updated Dictionary:", sampleDict)

Updated Dictionary: {'age': 25, 'city': 'New york'}